@model PanelGameRoleModelView
@{
    ViewData["Title"] = "PanelGameRoles";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int rolecounter = 1;
}

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">            
                    @if (TempData["message"] != null)
                    {
                        <div class="alert alert-warning" role="alert">
                            @TempData["message"]
                        </div>
                    }
                    <form asp-action="DeleteRol" method="post">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Roller</div>
                                <hr />
                                <a onclick="showInPopup('@Url.Action("AddRole","PanelGame")',' Yeni Rol Ekle')" class="btn btn-default">Rol Ekle</a>
                                <button id="role-delete-btn" type="button" class="btn btn-danger">Rol Silmeyi Aç</button>
                                <button type="submit" class="btn btn-success float-right">Değişiklikleri Kaydet</button>
                            </div>
                            <div class="card-body">
                                <table id="paneltable" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">ID</th>
                                            <th scope="col">Rol Adı</th>
                                            <th scope="col">-</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var role in Model.Roles)
                                        {
                                            <tr>
                                                <td>@(rolecounter++)</td>
                                                <td>@role.ID</td>
                                                <td>@role.Role</td>
                                                <td>
                                                    <a onclick="showInPopup('@Url.Action("UpdateRole","PanelGame",new {ID=role.ID })','Rol Güncelle')" class="btn btn-default btn-xs role-update-btn">Güncelle</a>
                                                    <label class="form-check-label delete-check" style="display:none">
                                                        <input class="form-check-input" id="RoleID" name="RoleID" type="checkbox" value="@role.ID">
                                                        <span class="form-check-sign">Sil</span>
                                                    </label>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
               
           
        </div>
    </div>
</div>
@await Html.PartialAsync("_ModalPartialView")
<script>
    $(document).ready(function () {
        $("#role-delete-btn").click(function () {
            $(".delete-check").toggle();
            $(".role-update-btn").toggle();
        });

    });
</script>